* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.header {
  background-color: #89b6a5;
}

.main {
  background-color: #bcbdc0;
}

.footer {
  background-color: #4c3b4d;
}
