body {
  margin: 0;
  padding: 0;
  background: url(./images/background-pic.jpg) no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
}

.box-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  width: 400px;
  background: rgba(0, 0, 0, 0.4);
  text-align: center;
  color: white;
  font-family: "Roboto", sans-serif;
  height: auto;

  margin: 30px;
}

.box-img {
  border-radius: 50%;
  width: auto;
  height: 400px;
  margin-top: 20px;
}

.box h1 {
  font-size: 40px;
  letter-spacing: 4px;
  font-weight: 100;
}

.box h5 {
  font-size: 25px;
  letter-spacing: 3px;
  font-weight: 100;
}

.box p {
  font-size: 30px;
  display: flex;
  justify-content: center;
  text-align: center;
}

ul {
  margin: 0;
  padding: 0;
}

.box li {
  display: inline-block;
  margin: 6px;
  list-style: none;
}

.box li a {
  color: white;
  text-decoration: none;
  font-size: 60px;
  transition: all ease-in-out 250ms;
}

.box li a:hover {
  color: #b9b9b9;
}

@media screen and (min-width: 480px) {
  .box {
    height: auto;
    width: auto;
  }
}
